<h1>New Recipe</h1>

<form ng-submit="createRecipe()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" ng-model="recipe.title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" ng-model="recipe.description"></textarea>
  </div>
  <div class="form-group">
    <label for="image">Image Link</label>
    <input type="url" class="form-control" id="image" placeholder="" ng-model="recipe.image">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
